<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 class="nombre">Asistencia QR</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input 
  label="Correo" 
  label-placement="floating" 
  fill="solid" 
  placeholder="Ingresar correo institucional"
  ></ion-input>
  <br>
  <ion-input 
  label="Contraseña" 
  label-placement="floating" 
  fill="solid"
  type="password"
  ></ion-input>

  <ion-button expand="block">Ingresar</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <p>made by TwentyOneBugs</p>
  </ion-toolbar>
</ion-footer>
