<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <img src="assets/images/piso-1.jpeg">
      <ion-card-header>
        <ion-card-title>Piso -1</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/images/piso1.jpeg">
      <ion-card-header>
        <ion-card-title>Piso 1</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/images/piso2.jpeg">
      <ion-card-header>
        <ion-card-title>Piso 2</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/images/piso3.jpeg">
      <ion-card-header>
        <ion-card-title>Piso 3</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/images/piso4.jpeg">
      <ion-card-header>
        <ion-card-title>Piso 4</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/images/piso5.jpeg">
      <ion-card-header>
        <ion-card-title>Piso 5</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/images/piso6.jpeg">
      <ion-card-header>
        <ion-card-title>Piso 6</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/images/piso7.jpeg">
      <ion-card-header>
        <ion-card-title>Piso 7</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/images/piso8.jpeg">
      <ion-card-header>
        <ion-card-title>Piso 8</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>