<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/images/login.svg"></ion-img>

    <form [formGroup]="formularioLogin">
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="usuario"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="contrasenia" type="password"></ion-input>
      </ion-item>
    </form>
  <ion-button (click)="ingresar()" class="ion-margin-top duocuc" expand="block">
    <ion-icon name="finger-print-outline" slot="start"></ion-icon>
     Ingresar
  </ion-button>

  <ion-button routerLink="/cambio-contrasenia" class="ion-margin-top duocuc" expand="block">
    <ion-icon name="key-outline" slot="start"></ion-icon>
    Cambiar Contraseña
 </ion-button >

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/registro">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
