<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="medium">
        <ion-title>RegistApp</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="goToLogin()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content> <!-- Agregar la apertura de ion-content -->
    <!-- Aquí va el contenido de la página -->
</ion-content>

<ion-footer>
    <ion-toolbar color="medium">
        <ion-title size="large">APP desarrollada por --</ion-title>
    </ion-toolbar>
</ion-footer>
